{% set recurringOrders = craft.recurringOrders %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

<div id="recurringOrders" class="hidden">

    {% if customer %}

        {% if currentUser.can('commerce-manageOrders') %}

            <h2>{{ recurringOrders.t('Recurring Orders') }}</h2>

            {% include 'recurring-orders/_cp/_includes/_ordersTable' with { customer: customer } %}

        {% endif %}

    {% else %}

        {# TODO: Empty state. #}

    {% endif %}

</div>
