<div id="recurringOrdersTab" class="hidden">

    {% include 'recurring-orders/_cp/_orderDetails' %}

</div>
{# Leaving off the final `</div>` because we usurped the container from Commerce's existing Order Details tab. #}
