{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do view.registerTranslations('commerce', [
  'No orders exist.',
  'Order Date',
  'Order',
  'Status',
  'Search orders',
  'Total',
]) %}

{% do view.registerTranslations('recurring-orders', [
    'Recurrence Status',
    'Next Recurrence',
    'Last Recurrence',
]) %}

<div id="recurring-orders-generated-orders-vue-admin-table"></div>

{% js %}

var orderColumns = [
    { name: '__slot:title', title: Craft.t('commerce', 'Order'), sortField: 'reference' },
    { name: 'date', title: Craft.t('commerce', 'Order Date'), sortField: 'dateOrdered' },
    { name: 'orderStatus', title: Craft.t('commerce', 'Status'),
        callback: function(value) {
            return value;
        }
    },
    { name: 'totalPrice', title: Craft.t('commerce', 'Total Price'), sortField: 'totalPrice' },
];

new Craft.VueAdminTable({
    columns: orderColumns,
    container: '#recurring-orders-generated-orders-vue-admin-table',
    emptyMessage: Craft.t('commerce', 'No orders exist.'),
    padded: true,
    perPage: 20,
    tableDataEndpoint: Craft.getActionUrl('recurring-orders/cp-data/generated-orders-table?parentId={{ order.id }}'),
    search: true,
    searchPlaceholder: Craft.t('commerce', 'Search orders')
  });

{% endjs %}
