{% set recurringOrders = craft.recurringOrders %}
{% set settings = recurringOrders.settings %}

{% set derivedOrders = order.findDerivedOrders().all() %}

{% set hideControlsForGeneratedOrder = craft.recurringOrders.getSettings().hideRecurrenceControlsForGeneratedOrders %}
{% set hideControlsForOriginatingOrder = craft.recurringOrders.getSettings().hideRecurrenceControlsForOriginatingOrders %}
{% set showRecurringOrderControls =
    order.hasRecurrenceStatus
    or not (
        ((derivedOrders | length) and hideControlsForOriginatingOrder)
        or (order.parentOrderId and hideControlsForGeneratedOrder)
    )
%}


<style>

    #recurringOrders_derivedOrders,
    #recurringOrders_orderControls,
    #recurringOrders_generatedRecurrences {
        margin-top: 1em;
        margin-bottom: 3em;
    }

    #recurring-orders-derived-orders-vue-admin-table {
        margin-top: 1em;
        padding: 24px;
    }

</style>



{% if derivedOrders | length %}

    <div id="recurringOrders_derivedOrders">

        <h3 class="order-title">
            {{ recurringOrders.t("Derived Recurring Orders") }}
        </h3>

        {% include 'recurring-orders/cp/_includes/_recurringOrdersTable' with {orders: derivedOrders} only %}

    </div>

{% endif %}



{% if showRecurringOrderControls %}

    <div id="recurringOrders_orderControls">

        {% include 'recurring-orders/cp/_includes/_orderControls' %}

    </div>

{% endif %}



{% if order.hasRecurrenceStatus %}

{#    {% set generatedOrders = order.findGeneratedOrders().all() %}#}

    <div id="recurringOrders_generatedRecurrences">

        <h3 class="order-title" style="margin-top: 3em;">
            {{ recurringOrders.t("Generated Orders") }}
        </h3>

        {% include 'recurring-orders/cp/_includes/_generatedOrdersTable' %}

    </div>

{% endif %}
