{% do view.registerTranslations('commerce', [
    'Reference',
    'Status',
    'Total Paid',
    'Date Ordered',
]) %}
{% do view.registerTranslations('recurring-orders', [
    'Recurrence Status',
]) %}
<div class="commerce-widget-table-wrapper">
    <div id="{{ id }}"></div>
</div>

{% set tableData = [] %}
{% for order in orders %}
    {% set status %}{% include 'recurring-orders/cp/_includes/_statusLabel' with {status: order.recurrenceStatus} %}{% endset %}
    {% set tableData = tableData|merge([{
        title: order.reference,
        url: order.getCpEditUrl(),
        recurrenceStatus: status,
        total: order.totalPrice|currency(order.currency),
        date: order.dateOrdered|datetime('short'),
    }]) %}
{% endfor %}

{% js %}
var columns = [
    { name: '__slot:title', title: Craft.escapeHtml(Craft.t('commerce', 'Reference')) },
    { name: 'recurrenceStatus', title: Craft.escapeHtml(Craft.t('recurring-orders', 'Recurrence Status')) },
    { name: 'total', title: Craft.escapeHtml(Craft.t('commerce', 'Total')) },
    { name: 'date', title: Craft.escapeHtml(Craft.t('commerce', 'Date Ordered')) }
];

new Craft.VueAdminTable({
    columns: columns,
    container: '#{{ id }}',
    tableData: {{ tableData|json_encode|raw }}
});
{% endjs %}

<style>
{% css %}
    .widget[class*=recentrecurringorderswidget] .widget-heading h2:before {
        content: "\e900";
        font-family: 'recurring-orders', system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        display: inline-block;
        font-weight: 400;
        font-size: 80%;
        margin-right: 0.7em;
        color: rgba(42,99,99,0.8);
    }
{% endcss %}
</style>
