@font-face {
  font-family: 'recurring-orders';
  src:  url('fonts/recurring-orders.eot?ygu1lv');
  src:  url('fonts/recurring-orders.eot?ygu1lv#iefix') format('embedded-opentype'),
    url('fonts/recurring-orders.ttf?ygu1lv') format('truetype'),
    url('fonts/recurring-orders.woff?ygu1lv') format('woff'),
    url('fonts/recurring-orders.svg?ygu1lv#recurring-orders') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rf-icon-"], [class*=" rf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'recurring-orders' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rf-icon-recurring:before {
  content: "\e900";
}
