{# Usurp the container from Commerce's existing Order Details tab. #}
</div>

{# Shove in the content for the Recurring Orders tab. #}
<div id="recurringOrdersTab" class="hidden">
    {% include 'recurring-orders/cp/_includes/_orderTabContent' %}

{# (Mend our earlier usurpation by leaving off the closing tag of our tag, thus restoring symmetry to the HTML.) #}
