{% set recurringOrders = craft.recurringOrders %}

<div id="recurringOrders" class="hidden">

    {% if customer %}

        {% if currentUser.can('commerce-manageOrders') %}

            <h2>{{ recurringOrders.t('Recurring Orders') }}</h2>

            {% include 'recurring-orders/cp/_includes/_customerOrdersTable' with { customer: customer } %}

        {% endif %}

    {% else %}

        {# TODO: Empty state. #}

    {% endif %}

</div>
