{% set order = order ?? element %}

<h3>
    {{ "Derived Recurring Orders" | t('recurring-orders') }}
</h3>

{{ craft.app.view.renderTemplate(
    'recurring-orders/cp/_includes/_recurringOrdersTable',
    { orders: order.getAllDerivedOrders() },
    'cp'
) | raw }}
