{% import "_includes/forms" as forms %}

<div id="{{ id }}">

    {{ forms.textField({
        label: "Date Interval"|t('recurring-orders'),
        name: 'dateRangeInterval',
        value: widget.dateRangeInterval,
        instructions: "(Leave blank to show Recurrences pending for Today.)"|t('recurring-orders'),
        errors: widget.getErrors('dateRangeInterval')
    }) }}

</div>
