{% from "_includes/forms" import select %}

<div id="{{ id }}">

    <div class="field">

        <div class="heading">
            <label id="recurrenceStatusLabel">{{ "Recurrence Status"|t('recurring-orders') }}</label>
        </div>

        <div class="input ltr">

            {{ select({
                name: 'recurrenceStatus',
                value: widget.recurrenceStatus,
                options: {'': "All"|t('commerce')} | merge( statuses | map((label, value) => {value: value, label: label}) ),
                errors: widget.getErrors('recurrenceStatus'),
                inputAttributes: {
                    aria: {
                        describedby: '#recurrenceStatusLabel',
                    },
                },
            }) }}

        </div>

    </div>

</div>
